@charset "utf-8";

.bg-wrap{
  width: 800px;
  height: 500px;
  border: 5px solid rgb(70, 50, 32);
  /* background: transparent url("../images/cafe\ vogue.jpg") 50% /cover no-repeat; */
  /* 이미지가 px값일 때 상단 왼쪽 모서리에 맞춤, 이미지가 %일때 배경 위치 %값과 이미지 위치 %값이 만나는 지점으로 맞춤 */
  /* cover: 배경을 모두 커버 */
  /* contain: 상단위치를 기준으로 커버 */
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/cafe\ vogue.jpg");
  background-size: cover;
}
.bg-wrap:hover{
  background-image: url("../images/cafe\ vogue.jpg");
}